$rose-pink: #FF0F80;
$barbie-pink: #EE49B5;
html {
    background-color: #f2f3eb;
}
body{
    margin: 0;
    color: black;
    background-color: #F2F3EB;
    overflow-x: hidden;
    header{
        z-index: 0;
        width: 100vw;
        height: 9vh;
        border-bottom: solid $rose-pink 1px;
        position: sticky;
        top: 0;
        z-index: 11;
        transition: .3s;
        .head-container{
            width: 100vw;
            height: 9vh;
            margin: auto;
            display: flex;
            .images{
                :hover {
                    cursor: pointer;
                }
                display: flex;
                width: 30vh;
                #badge{
                    height: 7vh;
                    width: 7vh;
                    padding: 0 0 0 10px;
                    margin: auto;
                }
                #text{
                    width: auto;
                    height: 7vh;
                    margin: auto;
                }
            }
            #hamburger{
                display: flex;
                margin-left: auto;
                height: auto;
                width: auto;
                color: $rose-pink;
                border: none;
                background-color: white;
                font-size: 5vh;
                transform: rotate(90deg);
                padding-top: 2vw;
                cursor: pointer;
                overflow: none;
                transition: .3s;
            }
            .dropped{
                z-index: 10;
                position: absolute;
                width: auto;
                height: auto;
                font-size: 2vw;
                border: 2px solid $rose-pink;
                left: 86.2vw;
                top: 3.18vw;
                flex-direction: column;
                border-top-left-radius: 10%;
                border-bottom-left-radius: 10%;
                border-bottom-right-radius: 10%;
                background-color: rgba(255, 255, 255, .9);
                span{
                    height: 2vw;
                    width: auto;
                    display: flex;
                    margin: auto;
                    color: black;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
                :nth-child(2){
                    border-top: $rose-pink solid 1px;
                }
                :nth-child(3){
                    border-top: $rose-pink solid 1px;
                }
            }  
        }
    }
}


$title-background: $barbie-pink;
$background-color: #F2F3EB;
$content-background-color: black;
$content-background-gradient: black;
$time-color: $barbie-pink;
$text-color: #fff;
$content-width: 450px;
//PROVIDED BY https://codepen.io/ArnaudBalland/pen/rLeQgd/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.timeline{
  color: $text-color;
  
  h1{
    background: $title-background;
    padding: 70px 0;
    font-size: 2.5em;
    text-align: center;
    color:$rose-pink;
  }
  
  ul{
    background: $background-color;
    padding: 50px 0;
    
    li{
      background: $content-background-color;
      position: relative;
      margin: 0 auto;
      width: 5px;
      padding-bottom: 40px;
      list-style-type: none;
      
      &:last-child{
        padding-bottom: 7px;
      }
      
      &:before{
        content: '';
        background: $background-color;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        width: 20px;
        height: 20px;
        border: 3px solid $content-background-color;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }
      
      .hidden {
        opacity: 0;
      }
      
      .content{
        background: $content-background-color; 
        position: relative;
        top: 7px;
        width: $content-width;
        padding: 20px;
        
        h2{
          color: $time-color;
          padding-bottom: 10px;
          text-align: center;
        }
        
        p{
          text-align: center;
        }
        
        &:before{
          content: '';
          background: $content-background-color;
          position: absolute;
          top: 0px;
          width: 38px;
          height: 5px;
        }
      }
      
      &:nth-child(odd) .content {
        left: 50px;
        background: $content-background-color;
        background: -webkit-linear-gradient(-45deg, $content-background-gradient , $content-background-color);
        background: linear-gradient(-45deg,  $content-background-gradient , $content-background-color);
      }
      
      &:nth-child(odd) .content:before {
        left: -38px;
      }
      
      &:nth-child(even) .content {
        left: calc(-#{$content-width} - 45px);
        background: $content-background-color;
        background: -webkit-linear-gradient(45deg, $content-background-gradient , $content-background-color);
        background: linear-gradient(45deg,  $content-background-gradient , $content-background-color);
      }
      
      &:nth-child(even) .content:before {
        right: -38px;
      }
    }
  }
}

@media screen and (max-width: 1020px) {
  .timeline ul li .content {
    width: 41vw;
  }
  .timeline ul li:nth-child(even) .content {
    left: calc(-41vw - 45px);
  }
}

@media screen and (max-width: 700px) {
  .timeline ul li {
    margin-left: 20px;
    
    .content {
      width: calc(100vw - 100px);
    
      h2{
        text-align: initial;
      }
    }
    
    &:nth-child(even) .content {
      left: 45px;
      background: $content-background-color;
      background: -webkit-linear-gradient(-45deg, $content-background-gradient , $content-background-color);
      background: linear-gradient(-45deg,  $content-background-gradient , $content-background-color);
    }
    
    &:nth-child(even) .content:before {
      left: -33px;
    }
  }
}

footer{
    border-top: 2px solid $rose-pink;
    .container{
        padding: 8px;
        justify-content: space-between;
        display: flex;
        width: 85vw;
        margin: auto;
        span{
            font-size: 2vw;
            align-content: center;
        }
        img{
            height: 8vh;
            width: 8vh;
        }
    }
  }