$rose-pink: #FF0F80;
$barbie-pink: #EE49B5;

body{
    margin: 0;
    color: black;
    background-color: #F2F3EB;
    overflow-x: hidden;
    header{
        width: 100vw;
        height: 9vh;
        border-bottom: solid $rose-pink 1px;
        position: sticky;
        top: 0;
        z-index: 11;
        transition: .3s;
        .head-container{
            width: 100vw;
            height: 9vh;
            margin: auto;
            display: flex;
            .images{
                :hover {
                    cursor: pointer;
                }
                display: flex;
                width: 30vh;
                #badge{
                    height: 7vh;
                    width: 7vh;
                    padding: 0 0 0 10px;
                    margin: auto;
                }
                #text{
                    width: auto;
                    height: 7vh;
                    margin: auto;
                }
            }
            #hamburger{
                margin-left: auto;
                height: auto;
                width: auto;
                color: $rose-pink;
                border: none;
                font-size: 5vh;
                transform: rotate(90deg);
                padding-top: 3vw;
                cursor: pointer;
                overflow: none;
                background-color: transparent;
            }
            .dropped{
                z-index: 10;
                position: absolute;
                width: auto;
                height: auto;
                font-size: 2vw;
                border: 2px solid $rose-pink;
                left: 86.2vw;
                top: 3.18vw;
                flex-direction: column;
                border-top-left-radius: 10%;
                border-bottom-left-radius: 10%;
                border-bottom-right-radius: 10%;
                background-color: rgba(255, 255, 255, .9);
                span{
                    height: 2vw;
                    width: auto;
                    display: flex;
                    margin: auto;
                    color: black;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
                :nth-child(2){
                    border-top: $rose-pink solid 1px;
                }
                :nth-child(3){
                    border-top: $rose-pink solid 1px;
                }
            }  
        }
    }
    main{
        width: 90vw;
        margin: auto;
        .hotspot{
            height: 64vh;
            width: 90vw;
            padding-bottom: 2vh;
            border-bottom: $rose-pink 2px solid;
            .hotspot-head{
                height: 14vh;
                background-color: #F2F3EB;
                text-align: center;
                .hotspottxt{
                    padding: 10px 4rem;
                    background-color: $rose-pink;
                    font-size: 2.6vw;
                    width: 15vw;
                    margin: auto;
                    margin-top: 1rem;
                    color: white;
                }
                .timer{
                    display: flex;
                    height: auto;
                    font-size: 2vw;
                    justify-content: center;
                    margin-top: 8px;
                    *{
                        margin-right: 6px;
                    }
                }
            }
            .selling-container{
                width: 80vw;
                height: 50vh;
                margin: auto;
                background-color: white;
                display: flex;
                .sell-cont-left, .sell-cont-right{
                    float: left;
                    width: 35vw;
                    height: 50vh;
                    display: flex;
                    img{
                        width: 25vw;
                        height: 50vh;
                    }
                    .info-cont{
                        width: 10vw;
                        .info{
                            width: 8vw;
                            margin: 0 1vw;
                            text-align: center;
                            font-size: 2vh;
                            *{
                                margin-top: 6vh;
                            }
                            input{
                                width: 8vw;
                            }
                            #price{
                                margin-top: 4vh;
                            }
                        }
                    }
                }
                .description{
                    width: 8vw;
                    font-size: 2vw;
                    height: auto;
                    margin: 1vw;
                }
            }
        }
    }
}