$rose-pink: #FF0F80;
$barbie-pink: #EE49B5;

body{
    margin: 0;
    color: black;
    background-color: white;
    header{
        width: 100vw;
        height: 5vw;
        display: flex;
        border-bottom: solid black 1px;
        .head-container{
            width: 98vw;
            height: 4.5vw;
            background-color: white;
            margin: auto;
            display: flex;
            .images{
                display: flex;
                width: 30vw;
                #badge{
                    height: 4vw;
                    width: 4vw;
                    padding: 0 0 0 10px;
                    margin: auto;
                }
                #text{
                    width: auto;
                    height: 4vw;
                    margin: auto;
                }
            }
            #hamburger{
                display: flex;
                margin-left: auto;
                height: auto;
                width: auto;
                color: $rose-pink;
                background-color: white;
                border: none;
                font-size: 3vw;
                transform: rotate(90deg);
                padding-top: 2vw;
                cursor: pointer;
            }
            .dropped{
                position: absolute;
                width: auto;
                height: auto;
                font-size: 2vw;
                border: 2px solid $rose-pink;
                left: 87.47vw;
                top: 3.4vw;
                flex-direction: column;
                border-top-left-radius: 10%;
                border-bottom-left-radius: 10%;
                border-bottom-right-radius: 10%;
                background-color: rgba(0, 0, 0, .2);
                span{
                    height: 2vw;
                    width: auto;
                    display: flex;
                    margin: auto;
                    color: black;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
                :nth-child(2){
                    border-top: $rose-pink solid 1px;
                }
                :nth-child(3){
                    border-top: $rose-pink solid 1px;
                }
            }  
        }
    }
    main{
        width: 100vw;
        height: 95vw;
        display: flex;
        background-color: lightgray;
        .marquee-top{
            display: flex;
            justify-content: space-between;
            width: 100vw;
            height: 20vw;
            .marquee-content{

            }
        }
    }
}