$rose-pink: #FF0F80;
$barbie-pink: #EE49B5;

body{
    margin: 0;
    color: black;
    background-color: white;
    overflow-x: hidden;
    header{
        width: 100vw;
        height: 9vh;
        border-bottom: solid $rose-pink 1px;
        position: sticky;
        top: 0;
        z-index: 11;
        transition: .3s;
        .head-container{
            width: 100vw;
            height: 9vh;
            margin: auto;
            display: flex;
            .images{
                :hover {
                    cursor: pointer;
                }
                display: flex;
                width: 30vh;
                #badge{
                    height: 7vh;
                    width: 7vh;
                    padding: 0 0 0 10px;
                    margin: auto;
                }
                #text{
                    width: auto;
                    height: 7vh;
                    margin: auto;
                }
            }
            #hamburger{
                display: flex;
                margin-left: auto;
                height: auto;
                width: auto;
                color: $rose-pink;
                border: none;
                background-color: white;
                font-size: 5vh;
                transform: rotate(90deg);
                padding-top: 2vw;
                cursor: pointer;
                overflow: none;
                transition: .3s;
            }
            .dropped{
                z-index: 10;
                position: absolute;
                width: auto;
                height: auto;
                font-size: 2vw;
                border: 2px solid $rose-pink;
                left: 86.2vw;
                top: 3.18vw;
                flex-direction: column;
                border-top-left-radius: 10%;
                border-bottom-left-radius: 10%;
                border-bottom-right-radius: 10%;
                background-color: rgba(255, 255, 255, .9);
                span{
                    height: 2vw;
                    width: auto;
                    display: flex;
                    margin: auto;
                    color: black;
                    align-items: center;
                    justify-content: center;
                    padding: 4px;
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
                :nth-child(2){
                    border-top: $rose-pink solid 1px;
                }
                :nth-child(3){
                    border-top: $rose-pink solid 1px;
                }
            }  
        }
    }
    main{
        .marquee:first-of-type{
            margin: 8vh 0 3vh 0;
        }
        .marquee:last-of-type{
            margin: 3vh 0 8vh 0;
        }
        .marquee-top, .marquee-btm{
            width: 100vw;
            height: auto;
            border: $rose-pink 1px solid;
            overflow: hidden;
            white-space: nowrap;
            .marquee-content{
                width: auto;
                height: auto;
                margin: .5vw 0;
                animation: marquee infinite linear 25s;
                display: inline-block;
                img{
                    width: 28vh;
                    height: 28vh;
                    margin: 0 1rem;
                } 
            }
        }
        .button-container{
            height: 10vh;
            display: flex;
            #button{
                width: 94vw;
                margin: auto;
                height: 9vh;
                display: flex;
                justify-content: space-between;
                border: none;
                background-color: $rose-pink;
                opacity: 80%;
                cursor: pointer;
                span{
                    margin: auto;
                    font-size: 2vw;
                }
                span:nth-child(1){
                    padding-left: 1rem;
                }
                span:nth-child(3){
                    padding-right: 1rem;
                }
            }
        }
        .marquee-btm{
            .marquee-content{
                animation: marqueeR infinite linear 25s;
            }
        }
    }
    footer{
        border-top: 2px solid $rose-pink;
        .container{
            padding: 8px;
            justify-content: space-between;
            display: flex;
            width: 85vw;
            margin: auto;
            span{
                font-size: 2vw;
                align-content: center;
            }
            img{
                height: 8vh;
                width: 8vh;
            }
        }
    }
}
@keyframes marquee{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
}
@keyframes marqueeR{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0%);
    }
}